Package                   Version
------------------------- ------------
attrs                     23.1.0
bluepysnap                2.0.0
cached-property           1.5.2
certifi                   2023.7.22
charset-normalizer        3.3.2
click                     8.1.7
contourpy                 1.2.0
cycler                    0.12.1
deprecation               2.1.0
fonttools                 4.44.0
h5py                      3.10.0
idna                      3.4
importlib-resources       6.1.0
joblib                    1.3.2
jsonschema                4.19.2
jsonschema-specifications 2023.7.1
kiwisolver                1.4.5
libsonata                 0.1.24
matplotlib                3.8.1
MEAutility                1.5.1
more-itertools            10.1.0
morph-tool                2.9.1
MorphIO                   3.3.6
neurom                    3.2.4
nptyping                  2.5.0
numpy                     1.26.1
packaging                 23.2
pandas                    2.1.2
Pillow                    10.1.0
pip                       22.2.2
probeinterface            0.2.19
pynrrd                    1.0.0
pyparsing                 3.1.1
python-dateutil           2.8.2
pytz                      2023.3.post1
PyYAML                    6.0.1
referencing               0.30.2
requests                  2.31.0
rpds-py                   0.12.0
scikit-learn              1.3.2
scipy                     1.11.3
setuptools                63.2.0
six                       1.16.0
threadpoolctl             3.2.0
tqdm                      4.66.1
typing_extensions         4.8.0
tzdata                    2023.3
urllib3                   2.0.7
voxcell                   3.1.5
xmltodict                 0.13.0
