x86_64/
**/core*
figures/
positions_all_new/
positions_all_new_big/
**/*coeffs*.h5
**/*.SUCCESS
networks/
network/
examples/allen/data/simulation/configuration/components
bkg_inputs/
atlas/
reporting/
reporting_small/
reporting_big/
output_sonata/
**/*.png
**/*.pyc
**/*.log
**/*.out
mod/
.ipynb_checkpoints/
**/*.dat
**/*.swp
**/*.swn
**/*.swo
**/*.err
build/
bluerecording.egg-info
.exception_node
*.nrrd
neurodamus/
positions/
pkls/
pkls_big/
htmlcov/
