**/core*
figures/
**/coeffs.h5
networks/
atlas/
reporting/
output_sonata/
**/*.png
**/*.pyc
**/*.log
**/*.out
mod/
.ipynb_checkpoints/
**/*.dat
**/*.swp
**/*.swn
**/*.swo
**/*.err
build/
bluerecording.egg-info
.exception_node
*.nrrd
neurodamus/
htmlcov/
